body {
    background-color:black;
}

p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.outer-div {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    border-radius: 20px;
}

.heading {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(125, 125, 125);
}

.top-div , .middle-div, .bottom-div{
    display: flex;
}

.top-div{
    align-items: center;
    justify-content: center;
    height: 80px;
}
.middle-div{
    flex-direction: column;
}
.bottom-div{
    padding-left: 5%;
}

.md, .md-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5%;
}
.md-button{
    margin-left: 30%;
}

.mdi{
    display: flex;
    width: 80%
}
.mdp{
    width: 25%;
    margin-left: 30%;
    padding-right: 0%;
}
#final-text{
    margin-left: 30%;
}

#years{
    width: 50px;
}

