
body {
    background-color:black;
    display: flex;
    justify-content: center;
}

p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

mark{
    background-color: yellow;
}
.outer-div {
    background-color: white;
    padding-top: 1%;
    border-radius: 20px;
    width: 500px;
    
}

.heading {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    font-size: 250%;
    color: rgb(125, 125, 125);
}

.top-div , .middle-div, .bottom-div{
    display: flex;
}

.top-div{
    align-items: center;
    justify-content: center;
    height: 80px;
}
.middle-div{
    flex-direction: column;
}

.bottom-div{
    margin-left: 5%;
    height: 45px;
}

.md, .md-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.md-button, .mdp, #final-text{
    margin-left: 20%;
}

.mdi{
    display: flex;
    width: 80%
}
.mdp{
    width: 25%;
}

#years{
    width: 50px;
}

